<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload file</title>
<style>
#b2{
width: 50%;
            margin: 100px auto;
            padding: 20px;
            border: 2px solid #4CAF50;
            border-radius: 10px;
            background-color: #f9f9f9;
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 20px;
}
</style>
</head>
<body>
<div id="b2">  
 <h1>Ask a question</h1>
    <form action="/answer" method="POST" enctype="multipart/form-data">
        <input type="text" name="qa" />
        <input type="submit" value="submit" />
</form>
</div>
</body>
</html>
