<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
<style>
#box {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#box p {
    margin: 0;
}
</style>
</head>
<body>
<div id="box">
    <img src="{{answer}}" alt="Manjistha image">
    <p>Nagfani is used to treat inflammation, reduce cholesterol, and manage diabetes. The cactus is also known for its antioxidant properties and is often used to aid digestion and detoxify the body. It is effective in soothing skin irritations and burns.</p>
<br>
<p>Native to the Americas (especially arid regions).Found in desert regions of India (Rajasthan) and other tropical areas<p></div>
</body>
</html>
