<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
<style>
#box {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#box p {
    margin: 0;
}
</style>
</head>
<body>
<div id="box">
    <img src="{{answer}}" alt="Manjistha image">
<p>Tulsi is a sacred herb in Hinduism and is known for its adaptogenic properties. It helps the body adapt to stress and has a calming effect on the mind. Tulsi is also used to treat respiratory issues, support digestion, and strengthen the immune system. It is considered a powerful detoxifier and is often used in teas and herbal remedies.</p>
<br>
<p>Native to India and grows widely across the Indian subcontinent.Also found in Southeast Asia and parts of the Middle East</p>
 </div>
</body>
</html>
